* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sanchez", serif;
  background: #283D28;
  color: #fff;
  line-height: 1.5;
}


:root {
  --verde-base: #283D28;
  --letra-menu: #FFFFFF;
  --precisa-bloco: #507A4F;
  --precisa-letra: #DCC6AA;
  --bloco-ajuda: #E4FFC9;
  --bloco-enviar: #D5EC9F;
  --letra-enviar: #003713;
  --letra-marrom: #633216;
  --linha: #000000;
  --verde-escuro: #1f3a23;
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

.btnHamburguer {
  position: fixed;
  top: 0.9375rem;  
  right: 0.9375rem; 
  background-color: var(--verde-escuro); 
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.btnHamburguer img {
  width: 1.875rem;  
  height: 1.875rem; 
}

.btnHamburguer.escondido {
  display: none;
}

nav.menuHamburguer {
  position: fixed;
  top: 0;
  right: -17.5rem; 
  width: 17.5rem;  
  height: 100vh;
  background-color: var(--verde-escuro);
  color: var(--letra-menu);
  padding: 1.25rem; 
  box-shadow: -0.1875rem 0 0.625rem rgba(0,0,0,0.3); 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem; 
  border-radius: 0.9375rem 0 0 0.9375rem; 
}

nav.menuHamburguer.aberto {
  right: 0;
}

.btnFecharMenu {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--letra-menu);
  font-size: 1.75rem; 
  cursor: pointer;
}

nav.menuHamburguer img.logoMenu {
  width: 15rem; 
  height: auto;   
  position: relative;
  top: -1rem;
}

nav.menuHamburguer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.90625rem; 
  padding: 0.375rem 0.625rem; 
  border-radius: 0.375rem; 
  transition: background-color 0.2s ease;
}

nav.menuHamburguer a:hover {
  color: var(--bloco-enviar);
}

.precisaDeAjuda {
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding: 0.625rem 0; 
}

.precisaDeAjuda button {
  position: absolute;
  bottom: 1.2rem;  
  right: 3.25rem;    
  width: 11rem;
  height: 2.25rem;
  border-radius: 0.625rem; 
  background-color: var(--precisa-bloco);
  border: none;
  color: var(--precisa-letra);
  font-size: 1rem;
  cursor: pointer;

}

.precisaDeAjuda button:hover {
  background-color: #3e653b;
}


dialog {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(31, 58, 35, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
}

dialog[open] {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: var(--verde-base);
  position: relative;
  width: 34.5rem;
  height: 20.375rem;
  padding: 1.25rem 1.5rem; 
  border-radius: 0.5rem;
  color: white;
}

.modal-content .fechar {
  position: absolute;
  top: 0.9375rem;   
  right: 0.9375rem; 
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--bloco-enviar);
}

#modalConfirmacao .modal-content {
  text-align: center;
  font-family: 'Sanchez', serif;
}

.retangulo {
  background-color: var(--bloco-ajuda);
  border-radius: 1.3125rem;
  padding: 1.5rem 2rem;
  width: 22.25rem;
  height: 13.25rem;
}

.centralizar-retangulo {
  display: flex;
  align-items: center;   
  justify-content: center; 
  height: 100%; 
}

#modalConfirmacao .modal-content h1 {
  color: var(--verde-base); 
  font-size: 1.40rem;           
  font-weight: 500;             
  line-height: 1.6;            
  margin-top: 1rem;             
  margin-bottom: 0.25rem; 
}

.linha {
  height: 0.125rem; 
  background-color: var(--linha);
  width: 17.7rem;
  margin: 0 auto 0.25rem auto;
}

#modalConfirmacao .modal-content p {
  color: var(--letra-marrom);
  text-align: center;
  font-family: Sanchez;
  width: 19.5rem;
  height: 5.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 0.375rem;
  font-weight: 500;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 0.625rem; 
  border-radius: 0.9375rem; 
  border: none;
  background-color: var(--bloco-ajuda);
  color: #13331e;
  font-size: 1rem; 
  margin-bottom: 1.25rem; 
  resize: vertical;
}

form button[type="submit"] {
  display: block;
  margin: 0.8rem auto;
  background-color: #cde39f;
  color: #13331e;
  font-size: 1.125rem;
  padding: 0.625rem 7rem; 
  border: none;
  border-radius: 1.25rem; 
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #a1bf6f;
}


.empresas {
  text-align: center;
  padding: 60px 20px;
}

.empresas h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  color: #C5F09A;
  margin-bottom: 50px;
  width: 997px;
height: 159.841px;
flex-shrink: 0;
color: #C5F09A;

font-family: Sanchez;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.empresas-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #3E8459;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card .titulo {
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  color: #C5F09A;
  font-size: 22px;
  margin-bottom: 10px;
}

.card .descricao {
  font-size: 16px;
}


.pessoas {
padding: 60px 20px;
}



.pessoas h2 {
font-family: "League Spartan", sans-serif;
font-size: 40px;
color: #C5F09A;
text-align: center;
margin-bottom: 50px;
width: 1127px;
height: 176.824px;
flex-shrink: 0;
color: #C5F09A;

font-family: "League Spartan";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}


.pessoas-cards {
display: grid;
grid-template-columns: repeat(3, 1fr); 
gap: 40px;
max-width: 1200px;
margin: 0 auto;
}


.pessoa {
text-align: left;
font-size: 16px;
line-height: 1.5;
}


.pessoa h3 {
font-family: "League Spartan", sans-serif;
font-size: 20px;
font-weight: bold;
color: #C5F09A;
margin-bottom: 10px;
}


.pessoa.texto-cima img {
width: 100%;
max-width: 260px;
height: auto;
margin-top: 15px;
object-fit: cover;
}


.pessoa.imagem-cima img {
width: 100%;
max-width: 260px;
height: auto;
margin-bottom: 15px;
object-fit: cover;
}