* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: rgba(40, 61, 40, 1);

}


.como-funciona {

  text-align: center;

}

.como-funciona h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(197, 240, 154, 1);
  text-align: justify;
  
     
      padding-bottom: 10px;
      display:inline-flex; 
     
}
.lin{
  margin-bottom: 1rem;
  width: 55rem;
  margin-left: 15rem;
}


.como-funciona p {
  font-size: 1.1rem;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  color: #c9c9c9;
}

.como-funciona img {
 width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 0;

}


.cards {
 
  padding-top: 5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.cards h2 {
  font-size: 2rem;
  font-weight: 700;
margin-left: 0.5rem;
  margin-bottom: 50px;
  color: rgba(185, 154, 51, 1);
   width: 100%;
}


.card1, .card2, .card3 {
  
  border-radius: 5px;
  padding-top: 5rem;
  max-width: 500px; 
  margin-left: -20rem;
  margin: 0;
}

.card1 h3, .card2 h3, .card3 h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 4rem;
 
  color: #fff;
}
.card1 h3{
  margin-left: 10rem;
}
.card1 p{
margin-left: 7rem;

}

.card1 p, .card2 p, .card3 p {
  font-size: 1rem;
  line-height: 1.9;
  text-align: left;
  word-wrap: break-word;
  margin-right: 10rem;
  margin-bottom: 3rem;
  padding-left: 50px;
  margin-bottom: 20px;
  color: #c9c9c9;
}

.card1 em, .card2 em, .card3 em {
  font-size: 1rem;
  font-weight: 700;
  color: #f7b731; 
  font-style: normal;
 
}
.card1{

  background-color:#598758;
  border-radius: 59px;
  height: 20rem;
  max-width: 50rem;
  margin-left: -20rem;
  top: 962px;
  
}
.card2{
  background: #507A4F;
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-left: -10rem;

  


  

}
.card3{
  background: #476C46;
  border-radius: 59px;
  height: 20rem;
  left: 40rem;
  max-width: 40rem;
 margin-left: -10rem;

  
}





.cards2 {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}


.cards2 h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 50px;
  color: rgba(185, 154, 51, 1);
  width: 100%;
}


.card4, .card5, .card6 {
  border-radius: 5px;
  padding-top: 5rem;
  max-width: 500px; 
  margin-right: -20rem;
  margin: 0;
}


.card4 h3, .card5 h3, .card6 h3 {
 
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 15rem;
 
  color: rgba(96, 97, 62, 1);
  ;
}
.card6 h3{
  margin-right: 8rem;
}
.card6 p{
margin-left: 5rem;
font-size: 1rem;
  line-height: 1.9;
  text-align: right;
  word-wrap: break-word;
  margin-right: 8rem;
  margin-bottom: 3rem;
  padding-right: 0px;
  margin-bottom: 20px;
  color: rgba(230, 245, 235, 1);

}

.card4 p, .card5 p{
  font-size: 1rem;
  line-height: 1.9;
  text-align: right;
  word-wrap: break-word;
  margin-right: 13rem;
  margin-bottom: 3rem;
  padding-right: 50px;
  margin-bottom: 20px;
  color: rgba(230, 245, 235, 1);


}

.card4 em, .card5 em, .card6 em {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 55, 19, 1);
   font-style: normal;
}
.card4{

  background-color: rgba(197, 164, 54, 1);
  border-radius: 59px;
  height: 20rem;
  right: 40rem;
  max-width: 40rem;
 margin-right: -10rem;
}
.card5{
  background: rgba(221, 185, 61, 1);
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-right: -10rem;


  

}
.card6{
  background: rgba(246, 205, 68, 1);
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-right: -20rem;
  top: 962px;
  
  
  

}
.comoimg{
  padding-top: 2rem;
  width:auto;
  height: auto;
  margin: 0;


}