* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --verde-base: #283D28;
  --letra-menu: #FFFFFF;
  --precisa-bloco: #507A4F;
  --precisa-letra: #DCC6AA;
  --bloco-ajuda: #E4FFC9;
  --bloco-enviar: #D5EC9F;
  --letra-enviar: #003713;
  --letra-marrom: #633216;
  --linha: #000000;
  --verde-escuro: #1f3a23;
}



body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  background-color: #202c1a;
  color: #fff;
  font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-base: #283D28;
  --letra-menu: #FFFFFF;
  --precisa-bloco: #507A4F;
  --precisa-letra: #DCC6AA;
  --bloco-ajuda: #E4FFC9;
  --bloco-enviar: #D5EC9F;
  --letra-enviar: #003713;
  --letra-marrom: #633216;
  --linha: #000000;
  --verde-escuro: #1f3a23;
}

body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

.btnHamburguer {
  position: fixed;
  top: 0.9375rem;  
  right: 0.9375rem; 
  background-color:transparent; 
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.btnHamburguer img {
  width: 1.875rem;  
  height: 1.875rem; 
}

.btnHamburguer.escondido {
  display: none;
}

nav.menuHamburguer {
  position: fixed;
  top: 0;
  right: -17.5rem;
  width: 17.5rem;
  height: 100vh;
  background-color: var(--verde-escuro); 
  color: var(--letra-menu);
  padding: 1.25rem;
  box-shadow: -0.1875rem 0 0.625rem rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  border-radius: 0.9375rem 0 0 0.9375rem;
  transition: right 0.3s ease;
}


nav.menuHamburguer.aberto {
  right: 0;
}

.btnFecharMenu {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--letra-menu);
  font-size: 1.75rem; 
  cursor: pointer;
}

nav.menuHamburguer img.logoMenu {
  width: 15rem; 
  height: auto;   
  position: relative;
  top: -1rem;
}

nav.menuHamburguer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.90625rem; 
  padding: 0.375rem 0.625rem; 
  border-radius: 0.375rem; 
  transition: background-color 0.2s ease;
}

nav.menuHamburguer a:hover {
  color: var(--bloco-enviar);
}

.precisaDeAjuda {
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding: 0.625rem 0; 
}

.precisaDeAjuda button {
  padding: 0.625rem; 
  width: 11.0625rem;  
  height: 4.5rem;     
  border-radius: 0.625rem; 
  background-color: var(--precisa-bloco);
  border: none;
  color: var(--precisa-letra);
  font-size: 1rem; 
  cursor: pointer;

}

.precisaDeAjuda button:hover {
  background-color: #3e653b;
}


dialog {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(31, 58, 35, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
}

dialog[open] {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: var(--verde-base);
  position: relative;
  width: 34.5rem;
  height: 20.375rem;
  padding: 1.25rem 1.5rem; 
  border-radius: 0.5rem;
  color: white;
}

.modal-content .fechar {
  position: absolute;
  top: 0.9375rem;   
  right: 0.9375rem; 
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--bloco-enviar);
}

#modalConfirmacao .modal-content {
  text-align: center;
  font-family: 'Sanchez', serif;
}

.retangulo {
  background-color: var(--bloco-ajuda);
  border-radius: 1.3125rem;
  padding: 1.5rem 2rem;
  width: 22.25rem;
  height: 13.25rem;
}

.centralizar-retangulo {
  display: flex;
  align-items: center;   
  justify-content: center; 
  height: 100%; 
}

#modalConfirmacao .modal-content h1 {
  color: var(--verde-base); 
  font-size: 1.40rem;           
  font-weight: 500;             
  line-height: 1.6;            
  margin-top: 1rem;             
  margin-bottom: 0.25rem; 
}

.linha {
  height: 0.125rem; 
  background-color: var(--linha);
  width: 17.7rem;
  margin: 0 auto 0.25rem auto;
}

#modalConfirmacao .modal-content p {
  color: var(--letra-marrom);
  text-align: center;
  font-family: Sanchez;
  width: 19.5rem;
  height: 5.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 0.375rem;
  font-weight: 500;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 0.625rem; 
  border-radius: 0.9375rem; 
  border: none;
  background-color: #e2ffc4;
  color: #13331e;
  font-size: 1rem; 
  margin-bottom: 1.25rem; 
  resize: vertical;
}

form button[type="submit"] {
  display: block;
  margin: 0.8rem auto;
  background-color: #cde39f;
  color: #13331e;
  font-size: 1.125rem;
  padding: 0.625rem 7rem; 
  border: none;
  border-radius: 1.25rem; 
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #a1bf6f;
}

main {
  width: 100%;
}


.hero {
  position: relative; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imgsEdutec/img1_contribuicaoaopib.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 80vh; 
}

.hero-text {
  max-width: 112.5rem; 
  margin: 0 auto;
  padding: 15.625rem 1.25rem 0; 
  text-align: left; 
}

.hero-subtitle {
  font-size: 2rem;  
  margin-bottom: 1.25rem; 
  font-weight: 400;
}

.hero-title {
  font-size: 3.75rem;
  color: #f2e70a;
  margin-bottom: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.hero-paragraph {
  font-size: 1.125rem;
  max-width: 62.5rem; 
  font-weight: 300;
}


.setor-agropecuario {
  display: flex;
  justify-content: flex-start;
  padding: 5rem 1.25rem 0rem;
  gap: 2.5rem;
  max-width: 112.5rem;
  margin: 0 auto;
  background-color: #202c1a;
}

.setor-agropecuario img {
  width: 21.875rem;
  height: 21.875rem;
  object-fit: cover;
  border-radius: 0.625rem;
  flex-shrink: 0;
  transform: translateY(-50%); 
}

.setor-text {
  max-width: 28.125rem; 
  transform: translateY(-35%); 
}

.setor-title {
  font-size: 2rem;
  color: #f2e70a;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.setor-paragraph {
  font-weight: 300;
}


.agro-conecta {
  text-align: center;
  padding: 0 1.25rem 3.125rem;
  max-width: 112.5rem; 
  margin: -3.125rem auto 0;
}

.line-divider {
  width: 62.5rem; 
  height: 0.0625rem;
  background-color: #fff; 
  margin: -10.9375rem auto 0; 
}

.agro-conecta-title {
  font-size: 2rem;
  color: #f2e70a;
  margin: 2.5rem 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 12.5rem; 
  flex-wrap: wrap;
  line-height: 150%;
}

.card {
  border-radius: 0.625rem;
  width: 25rem; 
  text-align: left;
}

.card img {
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem; 
}

.card-paragraph {
  font-family: "Sanchez", serif;
  line-height: 150%;
}

.btnHamburguer {
  position: fixed;
  top: 0.9375rem;  
  right: 0.9375rem; 
  background-color: none; 
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.btnHamburguer img {
  width: 1.875rem;  
  height: 1.875rem; 
}

nav.menuHamburguer {
  position: fixed;
  top: 0;
  right: -17.5rem; 
  width: 17.5rem;  
  height: 100vh;
  background-color: rgba(31, 58, 35, 0.9); 
  color: var(--letra-menu);
  padding: 1.25rem;
  box-shadow: -0.1875rem 0 0.625rem rgba(0,0,0,0.3); 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  border-radius: 0.9375rem 0 0 0.9375rem;
  background: rgba(31, 58, 35, 0.6); 
  backdrop-filter: blur(8px); 
}


nav.menuHamburguer.aberto {
  right: 0;
}

.btnFecharMenu {
  position: absolute;        
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--letra-menu);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 2000;             
  transition: transform 0.2s ease, color 0.2s ease;

}

nav.menuHamburguer img.logoMenu {
  width: 15rem; 
  margin-bottom: 1rem;
}

nav.menuHamburguer a {
  color: white;
  text-decoration: none;
  font-size: 0.90625rem; 
  padding: 0.375rem 0.625rem; 
  border-radius: 0.375rem; 
  transition: background-color 0.2s ease;
}

nav.menuHamburguer a:hover {
  color: var(--bloco-enviar);
}

.precisaDeAjuda {
  margin-top: auto;
  text-align: center;
}

.precisaDeAjuda button {
  width: 11rem;  
  height: 4.5rem;     
  border-radius: 0.625rem; 
  background-color: var(--precisa-bloco);
  border: none;
  color: var(--precisa-letra);
  font-size: 1rem; 
  cursor: pointer;
}

.precisaDeAjuda button:hover {
  background-color: #3e653b;
}


dialog {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(31, 58, 35, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  visibility: hidden;
  opacity: 0;
}

dialog[open] {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: var(--verde-base);
  position: relative;
  width: 34.5rem;
  height: 20.375rem;
  padding: 1.25rem 1.5rem; 
  border-radius: 0.5rem;
  color: white;
}

.modal-content .fechar {
  position: absolute;
  top: 0.9375rem;   
  right: 0.9375rem; 
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--bloco-enviar);
}

#modalConfirmacao .modal-content {
  text-align: center;
  font-family: 'Sanchez', serif;
}

.retangulo {
  background-color: var(--bloco-ajuda);
  border-radius: 1.3125rem;
  padding: 1.5rem 2rem;
  width: 22.25rem;
  height: 13.25rem;
}

.centralizar-retangulo {
  display: flex;
  align-items: center;   
  justify-content: center; 
  height: 100%; 
}

#modalConfirmacao .modal-content h1 {
  color: var(--verde-base); 
  font-size: 1.40rem;           
  font-weight: 500;             
  margin-top: 1rem;             
}

.linha {
  height: 0.125rem; 
  background-color: var(--linha);
  width: 17.7rem;
  margin: 0.5rem auto;
}

#modalConfirmacao .modal-content p {
  color: var(--letra-marrom);
  text-align: center;
  font-family: Sanchez, serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.5rem;
}


@media (max-width: 768px) {
  .hero-text {
    padding: 9.375rem 1.25rem 0; 
  }

  .setor-agropecuario {
    flex-direction: column;
    padding: 2.5rem 1.25rem;
  }

  .setor-agropecuario img {
    width: 100%;
    height: auto;
    transform: translateY(0); 
  }

  .setor-text {
     max-width: 100%;
     transform: translateY(0);
  }

  .cards {
    flex-direction: column;
    gap: 2.5rem;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }
}

header {
  background: transparent !important;
  position: absolute; /
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem; 
  z-index: 1000;
}

header .logo img {
  max-height: 6rem; 
}
