/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-base: #283D28;
  --verde-escuro: #1f3a23;
  --verde-claro: #a4ff88;
  --branco: #ffffff;
  --cinza-linha: rgba(255, 255, 255, 0.4);
}

/* BODY */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  background: #fff;
  color: var(--branco);
  min-height: 100vh;
}

/* HEADER */
.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* LOGO */
.logo {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}

.logo img {
  height: 2.5rem;  /* mesmo tamanho da imagem que você mandou */
  width: auto;
}

/* Linha branca no header */
.site-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #1f3a23;
}

/* BOTÃO HAMBÚRGUER */
.btnHamburguer {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  margin-left: auto;
  z-index: 1100;
}

.btnHamburguer img {
  display: none; /* remove ícone PNG */
}

/* 3 traços */
.btnHamburguer span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--branco);
  border-radius: 2px;
}

/* MENU LATERAL */
nav.menuHamburguer {
  position: fixed;
  top: 0;
  right: -17.5rem;
  width: 17.5rem;
  height: 100vh;
  background-color: var(--verde-escuro);
  color: var(--branco);
  padding: 1.25rem;
  box-shadow: -3px 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  transition: right 0.3s ease;
}

nav.menuHamburguer.aberto {
  right: 0;
}

.btnFecharMenu {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--branco);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

nav.menuHamburguer img.logoMenu {
  width: 10rem;
  margin: 1rem auto;
}

nav.menuHamburguer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem;
  transition: color 0.2s ease;
}

nav.menuHamburguer a:hover {
  color: var(--verde-claro);
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.72), rgba(0,0,0,0.72)),
              url("imgsEdutec/img6_sobrenos.png") center/cover no-repeat;
  color: #fff;
  text-align: left;
  padding: 6rem 2rem;
  height: 100vh;        /* ocupa exatamente a tela */
  width: 100vw;         /* ocupa largura toda */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-content {
  max-width: 800px;
}

.hero-content h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--verde-claro);
}

.hero-content p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* FOOTER */
.site-footer {
  text-align: center;
  padding: 1rem;
  background: var(--verde-escuro);
  color: var(--branco);
  font-size: 0.875rem;
}
