* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: rgba(40, 61, 40, 1);

}


.como-funciona {

  text-align: center;

}

.como-funciona h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(197, 240, 154, 1);
  text-align: justify;
  
     
      padding-bottom: 10px;
      display:inline-flex; 
     
}
.lin{
  margin-bottom: 1rem;
  width: 55rem;
  margin-left: 15rem;
}


.como-funciona p {
  font-size: 1.1rem;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  color: #c9c9c9;
}

.como-funciona img {
 width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 0;

}


.cards {
 
  padding-top: 5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.cards h2 {
  font-size: 2rem;
  font-weight: 700;
margin-left: 0.5rem;
  margin-bottom: 50px;
  color: rgba(185, 154, 51, 1);
   width: 100%;
}


.card1, .card2, .card3 {
  
  border-radius: 5px;
  padding-top: 5rem;
  max-width: 500px; 
  margin-left: -20rem;
  margin: 0;
}

.card1 h3, .card2 h3, .card3 h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 4rem;
 
  color: #fff;
}
.card1 h3{
  margin-left: 10rem;
}
.card1 p{
margin-left: 7rem;

}

.card1 p, .card2 p, .card3 p {
  font-size: 1rem;
  line-height: 1.9;
  text-align: left;
  word-wrap: break-word;
  margin-right: 10rem;
  margin-bottom: 3rem;
  padding-left: 50px;
  margin-bottom: 20px;
  color: #c9c9c9;
}

.card1 em, .card2 em, .card3 em {
  font-size: 1rem;
  font-weight: 700;
  color: #f7b731; 
  font-style: normal;
 
}
.card1{

  background-color:#598758;
  border-radius: 59px;
  height: 20rem;
  max-width: 50rem;
  margin-left: -20rem;
  top: 962px;
  
}
.card2{
  background: #507A4F;
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-left: -10rem;

  


  

}
.card3{
  background: #476C46;
  border-radius: 59px;
  height: 20rem;
  left: 40rem;
  max-width: 40rem;
 margin-left: -10rem;

  
}





.cards2 {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}


.cards2 h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 50px;
  color: rgba(185, 154, 51, 1);
  width: 100%;
}


.card4, .card5, .card6 {
  border-radius: 5px;
  padding-top: 5rem;
  max-width: 500px; 
  margin-right: -20rem;
  margin: 0;
}


.card4 h3, .card5 h3, .card6 h3 {
 
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 15rem;
 
  color: rgba(96, 97, 62, 1);
  ;
}
.card6 h3{
  margin-right: 8rem;
}
.card6 p{
margin-left: 5rem;
font-size: 1rem;
  line-height: 1.9;
  text-align: right;
  word-wrap: break-word;
  margin-right: 8rem;
  margin-bottom: 3rem;
  padding-right: 0px;
  margin-bottom: 20px;
  color: rgba(230, 245, 235, 1);

}

.card4 p, .card5 p{
  font-size: 1rem;
  line-height: 1.9;
  text-align: right;
  word-wrap: break-word;
  margin-right: 13rem;
  margin-bottom: 3rem;
  padding-right: 50px;
  margin-bottom: 20px;
  color: rgba(230, 245, 235, 1);


}

.card4 em, .card5 em, .card6 em {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 55, 19, 1);
   font-style: normal;
}
.card4{

  background-color: rgba(197, 164, 54, 1);
  border-radius: 59px;
  height: 20rem;
  right: 40rem;
  max-width: 40rem;
 margin-right: -10rem;
}
.card5{
  background: rgba(221, 185, 61, 1);
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-right: -10rem;


  

}
.card6{
  background: rgba(246, 205, 68, 1);
  border-radius: 59px;
  height: 20rem;
  max-width: 40rem;
  margin-right: -20rem;
  top: 962px;
  
  
  

}
.comoimg{
  padding-top: 2rem;
  width:auto;
  height: auto;
  margin: 0;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: #fff;
  background-color: rgba(40, 61, 40, 1);
  font-size: 1rem;
}

.btnHamburguer {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.btnHamburguer img {
  width: 1.875rem;
  height: 1.875rem;
}

nav.menuHamburguer {
  position: fixed;
  top: 0;
  right: -17.5rem;
  width: 17.5rem;
  height: 100vh;
  background-color: #1f3a23;
  color: #fff;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  transition: right 0.3s ease;
  z-index: 1000;
}

nav.menuHamburguer.aberto {
  right: 0;
}

nav.menuHamburguer img.logoMenu {
  width: 12rem;
  margin: 0 auto 1rem auto;
  display: block;
}

nav.menuHamburguer a {
  text-align: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}

nav.menuHamburguer a:hover {
  color: #D5EC9F;
}

.btnFecharMenu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.precisaDeAjuda {
  margin-top: auto;
  text-align: center;
}

.precisaDeAjuda button {
  width: 11rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  background-color: #507A4F;
  border: none;
  color: #DCC6AA;
  font-size: 1rem;
  cursor: pointer;
}

.precisaDeAjuda button:hover {
  background-color: #3e653b;
}

.como-funciona {
  text-align: center;
  padding: 4rem 2rem;
}

.como-funciona h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: rgba(197, 240, 154, 1);
  display: inline-block;
}

.lin {
  margin: 1rem auto;
  width: 55rem;
  max-width: 90%;
}

.como-funciona p {
  font-size: 1.1rem;
  max-width: 62.5rem;
  margin: 0 auto;
  line-height: 1.6;
  color: #c9c9c9;
}

.como-funciona img {
  width: 100%;
  max-width: 56.25rem;
  margin: 2.5rem auto 0;
  display: block;
}

.cards, .cards2 {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.cards h2, .cards2 h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(185, 154, 51, 1);
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
  border-radius: 2rem;
  padding: 2rem;
  height: 20rem;
  max-width: 40rem;
}

.card1 { background: #598758; }
.card2 { background: #507A4F; }
.card3 { background: #476C46; }
.card4 { background: rgba(197, 164, 54, 1); }
.card5 { background: rgba(221, 185, 61, 1); }
.card6 { background: rgba(246, 205, 68, 1); }

.card1 h3, .card2 h3, .card3 h3, .card4 h3, .card5 h3, .card6 h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  color: #fff;
}

.card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p {
  font-size: 1rem;
  line-height: 1.9;
  color: #c9c9c9;
  margin-bottom: 1.25rem;
}

.card1 em, .card2 em, .card3 em, .card4 em, .card5 em, .card6 em {
  font-size: 1rem;
  font-weight: 700;
  color: #f7b731;
  font-style: normal;
}

.comoimg {
  padding-top: 2rem;
  width: auto;
  height: auto;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.0625rem solid #FFFFFF;
  margin-bottom: 2rem;
}

.logo img {
  height: 5.625rem;
}


